<h2>Posts</h2>

<table class="table">
  <tr>
    <th>標題</th>
    <th>作者</th>
    <th>留言数</th>
    <th>留言用户</th>
    <th>订阅数</th>
    <th>按讚用户</th>
  </tr>
<%= render :partial => "post", :collection => @posts, :as =>
:post %>
</table>

<%= paginate @posts %>
