<h2>Posts</h2>

<table class="table">
  <tr>
    <th>標題</th>
    <th>作者</th>
    <th>comment count</th>
    <th>subscript count</th>
    <th>liuyan</th>
    <th>anzan</th>
  </tr>
  <%= render :partial => "post", :collection => @posts, :as=> :post %>
</table>

<%= paginate @posts %>
