<h2>Posts</h2>

<%= @subscriptions_count %>

<table class="table">
  <tr>
    <th>標題</th>
    <th>作者</th>
    <th>留言數</th>
    <th>訂閱數</th>
    <th>留言用戶</th>
    <th>按讚用戶</th>
  </tr>

  <%= render :partial => "post", :collection => @posts, :as =>
  :post %>

</table>

<%= paginate @posts %>
